<div class="col-sm-2">
  <%= render 'layouts/sidebar' %>
</div>
<div class="col-sm-10">
  <div id="button-div" class="col-xs-2 col-xs-offset-5">
    <script>
    var body_height = $('body').height() + $('#header-bar').height();
    $('#button-div').css({'margin-top':Math.abs((body_height-$(this).height())/2)+'px'});
    </script>
    <%= link_to "Log in to Twitter", "/auth/twitter",  class: 'btn btn-lg btn-primary' %>
  </div>
</div>
