<div id='data-block'>
  <h1>Facebook Insights</h1>
  <%= button_to 'Create report', '/facebook/create_report', method: :get, class: 'btn btn-info', submit: 'field_to_submit'  %>
  <h3>Total Likes</h3>
  <%= area_chart @all_likes.pluck(:date, :page_fans) %>
  <h3>Likes and Unlikes</h3>
  <%= line_chart [
    {name: "Likes", data: @all_likes.map { |t| [t.date, t.page_fan_adds]}},
    {name: "Unlikes", data: @all_likes.map { |t| [t.date, -1*t.page_fan_removes]}},
    {name: "Likes net", data: @all_likes.map { |t| [t.date, (t.page_fan_adds - t.page_fan_removes)]}}
  ]
  %>
</div>
<footer>  <%= @face.html_safe %></div> </footer>
