@import "bootstrap-sprockets";
@import "bootstrap";

@font-face {
  font-family: Titillium Light;
  src: font-url("titillium-web-light.ttf");
}

@font-face {
  font-family: Titillium Regular;
  src: font-url("titillium-web-regular.ttf");
}

@font-face {
  font-family: Titillium Bold;
  src: font-url("titillium-web-bold.ttf");
}

@font-face {
  font-family: Titillium Black;
  src: font-url("Titillium-Black.otf");
}

body {
  font-family: "Titillium Regular";
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Titillium Black";
}

th, strong {
  font-family: "Titillium Bold";
}

.information {
  font-size: 20px;
  h4 {
    font-size: 25px;
    font-family: "Titillium Bold";
  }

  .col-sm-4, .col-sm-3 {
    margin-left: -15px;
  }
}


/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
    height: 100vh;
    margin-left: -30px;
    margin-top: -20px;
    display: block;
    width: inherit;
    background-color: #f1f1f1;
}

.background {
  background: #f1f1f1;
}

/* Set gray background color and 100% height */
.well-white{
  background: #FFFFFF;
}

.sidenav {
    position: fixed;
    margin: 0px;
    padding: 15px;
}

#company-name {
  text-align: center;
}

.navbar-logo {
  margin-top: -5px;
  margin-left: 20px;
}

/* like the bootstrap divider but in blue */

.divider-blue {
    height: 1px;
    width: 100%;
    display: block;
    /* for use on default inline elements like span */
    margin: 9px 0;
    overflow: hidden;
    background-color: skyblue;
}

/* so that the dashboard with the stats can be scrolled */

.overflow {
    overflow-y: scroll;
    max-height: 100hv;
    float: right;
}

.vertical-align {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

#pdf-footer {
    text-align: right;
    font: Arial;
}

#pdf-cover {
  text-align: center;
  font-family: 'Arial Black', 'Arial Bold';
  font-size: 70px;
  height: 25cm;
  line-height: 25cm;
}

.ga-pdf-cover {
  text-align: center;
  font-family: 'Arial Black', 'Arial Bold';
  font-size: 60px;
  height: 25cm;
  line-height: 25cm;
}

.calendar-header {
  text-align: center;
  font-size: 20px;
  font-family: 'Arial Black', 'Arial Bold';
}

.calendar-header-week {
  text-align: center;
  font-size: 20px;
  font-family: 'Arial Black', 'Arial Bold';
}
