<div class="sidenav row content">
  <nav class="navbar sidebar-nav">
    <h4 id="company-name"><%= current_company.name  %></h4>
    <div id="collapse-group">
      <ul class="nav nav-pills nav-stacked">
        <li>
          <a class="collapse-close" data-toggle="collapse" data-target="#collapse-campaign">
            <i class="fa fa-fw fa-tasks"></i> Campaign
          </a>
        </li>
        <div id="collapse-campaign" class="collapse nav nav-pills nav-stacked">
          <li class="divider-blue"></li>
          <li>
            <a href="/client_information"><i class="fa fa-fw fa-info"></i> Client Information</a>
          </li>
          <li>
            <a href="/client_contacts"><i class="fa fa-fw fa-phone"></i> Contacts</a>
          </li>
          <li>
            <%= link_to '<i class="fa fa-fw fa-clock-o"></i> Time Trackings'.html_safe, current_company %>
          </li>
          <li class="divider-blue"></li>
        </div>
        <li>
          <a class="collapse-close" data-toggle="collapse" data-target="#collapse-analytics">
            <i class="fa fa-fw fa-area-chart"></i> Analytics
          </a>
        </li>
        <div id="collapse-analytics" class="collapse nav nav-pills nav-stacked">
          <li class="divider-blue"></li>
          <li>
            <a href="/google_analytics"><i class="fa fa-fw fa-google"></i> Google Analytics</a>
          </li>
          <li class="divider-blue"></li>
        </div>
        <li>
          <a class="collapse-close" data-toggle="collapse" data-target="#collapse-ppc">
            <i class="fa fa-fw fa-briefcase"></i> SEM</a>
        </li>
        <div id="collapse-ppc" class="collapse nav nav-pills nav-stacked">
          <li class="divider-blue"></li>
          <li>
            <a href="/google_analytics/adwords"><i class="fa fa-fw fa-google"></i> Google AdWords</a>
          </li>
          <li class="divider-blue"></li>
        </div>

        <li>
          <a class="collapse-close" data-toggle="collapse" data-target="#collapse-seo">
            <i class="fa fa-fw fa-line-chart"></i> SEO</a>
        </li>
        <div id="collapse-seo" class="collapse nav nav-pills nav-stacked">
          <li class="divider-blue"></li>
          <li>
            <a href="#site-auditor">Site Auditor</a>
          </li>
          <li>
            <a href="#rankings">Rankings</a>
          </li>
          <li class="divider-blue"></li>
        </div>

        <li>
          <a class="collapse-close" data-toggle="collapse" data-target="#collapse-social">
            <i class="fa fa-fw fa-comments"></i> Social
          </a>
        </li>
        <div id="collapse-social" class="collapse nav nav-pills nav-stacked">
          <li class="divider-blue"></li>
          <li>
            <a href="/twitter"><i class="fa fa-fw fa-twitter"></i> Twitter</a>
          </li>
          <li>
            <a href="/facebook"><i class="fa fa-fw fa-facebook-official"></i> Facebook</a>
          </li>
          <li>
            <a href="/instagram"><i class="fa fa-fw fa-instagram"></i> Instagram</a>
          </li>
          <li>
            <a href="/linkedin"><i class="fa fa-fw fa-linkedin-square"></i> LinkedIn</a>
          </li>
          <li class="divider-blue"></li>
        </div>

        <li>
          <a class="collapse-close" data-toggle="collapse" data-target="#collapse-content">
            <i class="fa fa-fw fa-list-alt"></i> Content</a>
        </li>
        <div id="collapse-content" class="collapse nav nav-pills nav-stacked">
          <li class="divider-blue"></li>
          <li>
            <a href="/companies_calendar"><i class="fa fa-fw fa-calendar"></i> Calendar</a>
          </li>
          <li>
            <a href="/content_distribution"><i class="fa fa-fw fa-pie-chart"></i> Content Distribution</a>
          </li>
          <li class="divider-blue"></li>
        </div>

        <li>
          <a class="collapse-close" data-toggle="collapse" data-target="#collapse-report">
            <span class="glyphicon glyphicon-file"></span> Report
          </a>
        </li>
        <div id="collapse-report" class="collapse nav nav-pills nav-stacked">
          <li class="divider-blue"></li>
          <li>
            <a id="create-report">
              <i class="fa fa-fw fa-print"></i>
              Create Report</a>
          </li>
          <li class="divider-blue"></li>
        </div>
      </ul>
    </div>
    <br>
  </nav>
</div>
